# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs and configs
*.log
*.ini

# Pygame / Build tools
build/
dist/
*.spec

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Pygbag / web export artifacts
html/

Commands.txt
settings.txt
build.bat